<form [formGroup]="formData" class="example-form" (ngSubmit)="save(formData.value)">
  <h1 mat-dialog-title>Product Form </h1>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Product Name*</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Product Category*</mat-label>
    <mat-select formControlName="category">
      <mat-option value="Digital">Digital</mat-option>
      <mat-option value="Clothes">Clothes</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" type="number" placeholder="Price">
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input formControlName="date" matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-flat-button color="accent" (click)="close()">Cancel</button>
    <button mat-flat-button color="primary">Save</button>
  </div>

</form>
